@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-home {
    background-color: #9c510b;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  .timer-circle {
    @apply flex
        bg-white bg-opacity-10
        w-[6.5rem]
        h-[6.5rem]
        rounded-full
        md:w-[7.5rem]
        md:h-[7.5rem]
        lg:w-[8.5rem]
        lg:h-[8.5rem];
  }
  .timer-circle div {
    @apply text-white m-auto text-center;
  }
  .timer-count {
    @apply block font-bold text-4xl md:text-5xl lg:text-6xl;
  }
  .timer-type {
    @apply block text-sm;
  }
  .social-link {
    @apply inline-block
        w-10
        h-10
        bg-white bg-opacity-80
        rounded-full
        inline-flex;
  }
}
